Repository Jondolf/avian, pull requests merged in 2023-10, with the labels that each got.

#166 Make `PreviousGlobalTransform` public and derive traits
  src/plugins/setup.rs
  src/plugins/sync.rs
Labels: enhancement

#169 Add contact queries
  src/components/collider.rs
  src/lib.rs
  src/plugins/broad_phase.rs
  src/plugins/narrow_phase/contact_query.rs
  src/plugins/narrow_phase/mod.rs
  src/plugins/spatial_query/pipeline.rs
  src/plugins/spatial_query/ray_caster.rs
  src/plugins/spatial_query/shape_caster.rs
  src/utils.rs
Labels: enhancement, collision detection

#153 Use cache in CI and run tests on multiple operating systems
  .github/workflows/ci.yml
Labels: ci

#175 Improve `Collisions` API and docs
  crates/bevy_xpbd_2d/examples/one_way_platform_2d.rs
  src/components/collider.rs
  src/plugins/narrow_phase/contact_data.rs
  src/plugins/narrow_phase/mod.rs
  src/plugins/solver.rs
Labels: documentation, enhancement, collision detection

#112 Fix sleeping and collision event issues
  crates/bevy_xpbd_3d/snapshots/bevy_xpbd_3d__tests__cubes_simulation_is_deterministic_across_machines.snap
  src/plugins/integrator.rs
  src/plugins/narrow_phase/contact_data.rs
  src/plugins/narrow_phase/mod.rs
  src/plugins/sleeping.rs
  src/plugins/solver.rs
Labels: enhancement, bugfix, collision detection

#178 Add `Dominance`
  README.md
  src/components/mod.rs
  src/components/world_queries.rs
  src/constraints/angular_constraint.rs
  src/constraints/position_constraint.rs
  src/lib.rs
  src/plugins/setup.rs
  src/plugins/solver.rs
Labels: enhancement, solver

#179 Move narrow phase collision validity checks to broad phase
  crates/bevy_xpbd_3d/snapshots/bevy_xpbd_3d__tests__cubes_simulation_is_deterministic_across_machines.snap
  src/plugins/broad_phase.rs
  src/plugins/narrow_phase/mod.rs
Labels: collision detection

#184 Move all collision logic and plugins into new `collision` module
  src/lib.rs
  src/plugins/collision/broad_phase.rs
  src/plugins/collision/contact_query.rs
  src/plugins/collision/contact_reporting.rs
  src/plugins/collision/mod.rs
  src/plugins/collision/narrow_phase.rs
  src/plugins/mod.rs
  src/resources.rs
Labels: documentation, collision detection

#185 Add debug rendering for sleeping bodies
  src/plugins/debug/configuration.rs
  src/plugins/debug/mod.rs
Labels: enhancement, debug tools

#188 Use swept AABBs for collider AABBs
  crates/bevy_xpbd_3d/snapshots/bevy_xpbd_3d__tests__cubes_simulation_is_deterministic_across_machines.snap
  src/plugins/collision/broad_phase.rs
Labels: enhancement, collision detection

#154 Child colliders
  crates/bevy_xpbd_3d/snapshots/bevy_xpbd_3d__tests__cubes_simulation_is_deterministic_across_machines.snap
  src/components/collider.rs
  src/components/mass_properties.rs
  src/components/world_queries.rs
  src/constraints/penetration.rs
  src/plugins/collision/broad_phase.rs
  src/plugins/collision/narrow_phase.rs
  src/plugins/mod.rs
  src/plugins/prepare.rs
  src/plugins/setup.rs
  src/plugins/sleeping.rs
  src/plugins/solver.rs
  src/plugins/sync.rs
Labels: enhancement, collision detection

#189 Collider scale
  crates/bevy_xpbd_2d/Cargo.toml
  crates/bevy_xpbd_2d/examples/chain_2d.rs
  crates/bevy_xpbd_2d/examples/many_shapes.rs
  crates/bevy_xpbd_2d/examples/move_marbles.rs
  crates/bevy_xpbd_2d/examples/one_way_platform_2d.rs
  crates/bevy_xpbd_3d/Cargo.toml
  crates/bevy_xpbd_3d/examples/cubes.rs
  src/components/collider.rs
  src/components/mass_properties.rs
  src/plugins/collision/broad_phase.rs
  src/plugins/collision/contact_query.rs
  src/plugins/debug/renderer.rs
  src/plugins/prepare.rs
  src/plugins/spatial_query/pipeline.rs
  src/plugins/spatial_query/ray_caster.rs
  src/plugins/spatial_query/shape_caster.rs
  src/plugins/sync.rs
Labels: enhancement, collision detection

#192 Map entities
  crates/bevy_xpbd_3d/examples/custom_constraint.rs
  src/constraints/joints/distance.rs
  src/constraints/joints/fixed.rs
  src/constraints/joints/mod.rs
  src/constraints/joints/prismatic.rs
  src/constraints/joints/revolute.rs
  src/constraints/joints/spherical.rs
  src/constraints/mod.rs
  src/constraints/penetration.rs
  src/plugins/spatial_query/ray_caster.rs
  src/plugins/spatial_query/shape_caster.rs
Labels: enhancement

#194 Add `ColliderDensity`
  src/components/collider.rs
  src/components/mass_properties.rs
  src/components/mod.rs
  src/components/world_queries.rs
  src/plugins/prepare.rs
  src/plugins/setup.rs
Labels: enhancement

#186 Debug render spatial queries
  src/components/rotation.rs
  src/plugins/debug/configuration.rs
  src/plugins/debug/mod.rs
  src/plugins/debug/renderer.rs
  src/plugins/spatial_query/mod.rs
  src/plugins/spatial_query/pipeline.rs
  src/plugins/spatial_query/ray_caster.rs
  src/plugins/spatial_query/shape_caster.rs
  src/plugins/spatial_query/system_param.rs
Labels: enhancement, debug tools

#202 Warn about explosive behavior caused by overlapping at spawn
  src/components/world_queries.rs
  src/plugins/solver.rs
Labels: enhancement, debug tools

#205 Add `ignore_self` property for `RayCaster` and `ShapeCaster`
  crates/bevy_xpbd_3d/examples/basic_dynamic_character.rs
  crates/bevy_xpbd_3d/examples/basic_kinematic_character.rs
  src/plugins/spatial_query/mod.rs
  src/plugins/spatial_query/ray_caster.rs
  src/plugins/spatial_query/shape_caster.rs
Labels: enhancement, spatial queries

#201 Use `Transform` instead of `Position` and `Rotation` in examples
  README.md
  crates/bevy_xpbd_2d/examples/chain_2d.rs
  crates/bevy_xpbd_2d/examples/collision_layers.rs
  crates/bevy_xpbd_2d/examples/distance_joint_2d.rs
  crates/bevy_xpbd_2d/examples/fixed_joint_2d.rs
  crates/bevy_xpbd_2d/examples/many_shapes.rs
  crates/bevy_xpbd_2d/examples/move_marbles.rs
  crates/bevy_xpbd_2d/examples/one_way_platform_2d.rs
  crates/bevy_xpbd_2d/examples/prismatic_joint_2d.rs
  crates/bevy_xpbd_2d/examples/revolute_joint_2d.rs
  crates/bevy_xpbd_3d/examples/basic_dynamic_character.rs
  crates/bevy_xpbd_3d/examples/basic_kinematic_character.rs
  crates/bevy_xpbd_3d/examples/chain_3d.rs
  crates/bevy_xpbd_3d/examples/cubes.rs
  crates/bevy_xpbd_3d/examples/custom_broad_phase.rs
  crates/bevy_xpbd_3d/examples/custom_constraint.rs
  crates/bevy_xpbd_3d/examples/distance_joint_3d.rs
  crates/bevy_xpbd_3d/examples/fixed_joint_3d.rs
  crates/bevy_xpbd_3d/examples/prismatic_joint_3d.rs
  crates/bevy_xpbd_3d/examples/revolute_joint_3d.rs
  crates/bevy_xpbd_3d/examples/trimesh_shapes_3d.rs
  src/components/collider.rs
Labels: enhancement, examples

#206 Fix sleeping debug rendering for child colliders
  src/plugins/debug/mod.rs
Labels: bugfix, debug tools

#208 Improve documentation
  src/components/collider.rs
  src/components/layers.rs
  src/components/mass_properties.rs
  src/components/mod.rs
  src/components/rotation.rs
  src/constraints/joints/mod.rs
  src/constraints/mod.rs
  src/lib.rs
  src/plugins/collision/contact_reporting.rs
  src/plugins/collision/mod.rs
  src/plugins/mod.rs
  src/plugins/setup.rs
  src/plugins/spatial_query/query_filter.rs
  src/resources.rs
Labels: documentation, enhancement

#209 Make `debug-plugin` a default feature and improve docs
  crates/bevy_xpbd_2d/Cargo.toml
  crates/bevy_xpbd_3d/Cargo.toml
  src/lib.rs
  src/plugins/debug/configuration.rs
  src/plugins/debug/mod.rs
  src/plugins/mod.rs
Labels: documentation, enhancement, debug tools

#203 Enable bevy's png feature in the 3d examples
  crates/examples_common_3d/Cargo.toml
Labels: examples, bugfix

#210 Improve movement in examples
  crates/bevy_xpbd_2d/examples/chain_2d.rs
  crates/bevy_xpbd_2d/examples/many_shapes.rs
  crates/bevy_xpbd_2d/examples/move_marbles.rs
  crates/bevy_xpbd_2d/examples/one_way_platform_2d.rs
  crates/bevy_xpbd_3d/examples/basic_dynamic_character.rs
  crates/bevy_xpbd_3d/examples/basic_kinematic_character.rs
  crates/bevy_xpbd_3d/examples/chain_3d.rs
  crates/bevy_xpbd_3d/examples/cubes.rs
  crates/bevy_xpbd_3d/examples/custom_constraint.rs
  crates/bevy_xpbd_3d/examples/distance_joint_3d.rs
  crates/bevy_xpbd_3d/examples/fixed_joint_3d.rs
  crates/bevy_xpbd_3d/examples/prismatic_joint_3d.rs
  crates/bevy_xpbd_3d/examples/revolute_joint_3d.rs
Labels: examples

#212 Refactor character controller examples and support gamepad input
  crates/bevy_xpbd_3d/examples/basic_dynamic_character.rs
  crates/bevy_xpbd_3d/examples/basic_kinematic_character.rs
Labels: examples
