Repository Jondolf/avian, pull requests merged in 2024-08, with the labels that each got.

#477 Fix usage without Parry
  src/collision/collider/backend.rs
  src/collision/collider/hierarchy.rs
  src/collision/collider/mod.rs
  src/collision/contact_query.rs
  src/collision/feature_id.rs
  src/collision/mod.rs
  src/dynamics/ccd/mod.rs
  src/lib.rs
  src/spatial_query/mod.rs
  src/type_registration.rs
Labels: C-Regression, A-Collision, P-Compile-Failure

#482 Remove duplicate code
  src/schedule/mod.rs
Labels: C-Code-Quality

#485 Fix angular locked axes in gyroscopic torque computation
  src/dynamics/integrator/semi_implicit_euler.rs
Labels: C-Bug, A-Dynamics

#402 Take `SpatialQueryFilter` by reference in spatial queries
  crates/avian3d/examples/cast_ray_predicate.rs
  src/spatial_query/mod.rs
  src/spatial_query/pipeline.rs
  src/spatial_query/ray_caster.rs
  src/spatial_query/shape_caster.rs
  src/spatial_query/system_param.rs
Labels: A-Spatial-Query, C-Breaking-Change

#483 Use hooks for component initialization
  src/collision/collider/backend.rs
  src/collision/collider/hierarchy.rs
  src/dynamics/ccd/mod.rs
  src/lib.rs
  src/prepare.rs
  src/spatial_query/mod.rs
  src/spatial_query/ray_caster.rs
  src/spatial_query/shape_caster.rs
  src/sync/mod.rs
Labels: C-Bug, A-Scheduling, C-Breaking-Change, C-Code-Quality

#457 Use `FixedPostUpdate` by default and simplify scheduling
  crates/avian2d/snapshots/avian2d__tests__body_with_velocity_moves.snap
  crates/avian3d/snapshots/avian3d__tests__body_with_velocity_moves.snap
  crates/avian3d/snapshots/avian3d__tests__cubes_simulation_is_deterministic_across_machines.snap
  crates/benches_common_2d/src/lib.rs
  crates/benches_common_3d/src/lib.rs
  src/collision/collider/backend.rs
  src/collision/collider/hierarchy.rs
  src/debug_render/mod.rs
  src/lib.rs
  src/prepare.rs
  src/schedule/mod.rs
  src/schedule/time.rs
  src/sync/ancestor_marker.rs
  src/tests.rs
Labels: C-Enhancement, A-Scheduling, C-Breaking-Change, A-Determinism, X-Contentious

#486 Fix locked axes in gyro torque
  src/dynamics/integrator/semi_implicit_euler.rs
Labels: C-Bug, A-Dynamics

#493 Add predicate variants to all casts
  src/spatial_query/pipeline.rs
Labels: C-Enhancement, A-Spatial-Query

#494 Make `PhysicsLayer` require a `#[default]` variant
  crates/avian2d/examples/collision_layers.rs
  crates/avian_derive/Cargo.toml
  crates/avian_derive/src/lib.rs
  src/collision/layers.rs
Labels: A-Collision, C-Usability

#488 Fix real part of quaternion derivatives
  crates/avian3d/snapshots/avian3d__tests__cubes_simulation_is_deterministic_across_machines.snap
  src/collision/collider/backend.rs
  src/dynamics/ccd/mod.rs
  src/dynamics/integrator/semi_implicit_euler.rs
  src/dynamics/solver/xpbd/angular_constraint.rs
  src/dynamics/solver/xpbd/positional_constraint.rs
  src/position.rs
Labels: C-Bug, A-Dynamics

#495 Fix default schedule in `IntegratorPlugin::new` docs
  src/dynamics/integrator/mod.rs
Labels: C-Docs, A-Dynamics

#480 Make contacts deterministic across Worlds
  crates/avian3d/snapshots/avian3d__tests__cubes_simulation_is_deterministic_across_machines.snap
  src/collision/broad_phase.rs
  src/collision/mod.rs
  src/collision/narrow_phase.rs
Labels: C-Bug, A-Collision, A-Determinism

#502 Fix missing feature flag
  crates/avian2d/Cargo.toml
  crates/avian3d/Cargo.toml
Labels: C-Bug
