Repository Jondolf/avian, pull requests merged in 2024-03, with the labels that each got.

#343 Fix 2D heightfield scale and docs
  src/plugins/collision/collider/parry/mod.rs
Labels: documentation, bugfix, collision detection

#344 Fix 3D ShapeCaster global_rotation
  src/plugins/spatial_query/mod.rs
Labels: bugfix, spatial queries

#345 Normalize rotations after solving constraints in solver
  crates/bevy_xpbd_3d/snapshots/bevy_xpbd_3d__tests__cubes_simulation_is_deterministic_across_machines.snap
  src/constraints/angular_constraint.rs
  src/constraints/position_constraint.rs
Labels: bugfix, solver

#339 Add feature to examples_common to enable PhysicsDebugPlugin
  crates/examples_common_2d/Cargo.toml
  crates/examples_common_2d/src/lib.rs
  crates/examples_common_3d/Cargo.toml
  crates/examples_common_3d/src/lib.rs
Labels: enhancement, examples

#354 Fix some doc tests
  src/plugins/debug/configuration.rs
  src/plugins/spatial_query/system_param.rs
Labels: documentation
