Repository Jondolf/avian, pull requests merged in 2024-09, with the labels that each got.

#508 Optimize `wake_on_collision_ended` when large number of collisions are occurring
  src/dynamics/sleeping/mod.rs
Labels: C-Performance, A-Dynamics

#383 experimentation with debugdump
  crates/avian2d/Cargo.toml
  crates/avian2d/examples/debugdump_2d.rs
  crates/avian3d/Cargo.toml
  crates/avian3d/examples/debugdump_3d.rs
  crates/examples_common_2d/Cargo.toml
  crates/examples_common_3d/Cargo.toml
Labels: C-Examples, A-Scheduling

#520 Fix 3D rotation update in `transform_to_position`
  src/sync/mod.rs
Labels: C-Bug, A-Dynamics

#519 Make disabling joints possible.
  src/dynamics/solver/joints/mod.rs
  src/dynamics/solver/xpbd/mod.rs
Labels: C-Enhancement, A-Joints

#512 Allow interpolation of scales
  src/collision/collider/backend.rs
  src/prepare.rs
  src/sync/mod.rs
Labels: C-Enhancement
