Repository Jondolf/avian, pull requests merged in 2024-10, with the labels that each got.

#529 Add convenience methods for determining if collisions are starting or stopping
  src/collision/mod.rs
Labels: A-Collision, C-Usability

#500 Rework `Mass` and `Inertia` and add `GlobalAngularInertia` in 3D
  crates/avian2d/examples/custom_collider.rs
  crates/avian3d/snapshots/avian3d__tests__cubes_simulation_is_deterministic_across_machines.snap
  src/collision/collider/backend.rs
  src/collision/collider/parry/mod.rs
  src/dynamics/integrator/mod.rs
  src/dynamics/integrator/semi_implicit_euler.rs
  src/dynamics/rigid_body/locked_axes.rs
  src/dynamics/rigid_body/mass_properties.rs
  src/dynamics/rigid_body/mass_properties/mod.rs
  src/dynamics/rigid_body/mass_properties/world_query.rs
  src/dynamics/rigid_body/mod.rs
  src/dynamics/rigid_body/world_query.rs
  src/dynamics/solver/contact/mod.rs
  src/dynamics/solver/contact/normal_part.rs
  src/dynamics/solver/contact/tangent_part.rs
  src/dynamics/solver/mod.rs
  src/dynamics/solver/xpbd/angular_constraint.rs
  src/dynamics/solver/xpbd/mod.rs
  src/dynamics/solver/xpbd/positional_constraint.rs
  src/lib.rs
  src/math/mod.rs
  src/prepare.rs
  src/type_registration.rs
  src/utils.rs
Labels: C-Enhancement, A-Dynamics, C-Breaking-Change

#532 Add `MassPropertyPlugin`
  src/collision/collider/backend.rs
  src/dynamics/integrator/mod.rs
  src/dynamics/mod.rs
  src/dynamics/rigid_body/mass_properties/components.rs
  src/dynamics/rigid_body/mass_properties/mod.rs
  src/dynamics/rigid_body/mass_properties/world_query.rs
  src/dynamics/rigid_body/mod.rs
  src/lib.rs
  src/prepare.rs
Labels: C-Enhancement, A-Dynamics, C-Breaking-Change, C-Code-Quality
