Repository Jondolf/avian, pull requests merged in 2024-12, with the labels that each got.

#575 Fix rotation multiplication order in `transform_to_position`
  src/sync/mod.rs
Labels: C-Bug, A-Transform

#579 Make sure `Collider::triangle` is oriented CCW
  src/collision/collider/parry/mod.rs
Labels: A-Collision, C-Usability

#580 Add `MaxLinearSpeed` and `MaxAngularSpeed`
  src/dynamics/integrator/mod.rs
  src/dynamics/rigid_body/mod.rs
Labels: C-Enhancement, A-Dynamics

#581 Improve docs and heading consistency
  crates/avian2d/examples/kinematic_character_2d/main.rs
  crates/avian2d/examples/one_way_platform_2d.rs
  crates/avian3d/examples/kinematic_character_3d/main.rs
  src/collision/collider/backend.rs
  src/collision/collider/constructor.rs
  src/collision/collider/mod.rs
  src/collision/collider/parry/mod.rs
  src/collision/contact_query.rs
  src/collision/contact_reporting.rs
  src/collision/layers.rs
  src/collision/mod.rs
  src/debug_render/configuration.rs
  src/dynamics/integrator/mod.rs
  src/dynamics/mod.rs
  src/dynamics/rigid_body/forces.rs
  src/dynamics/rigid_body/locked_axes.rs
  src/dynamics/rigid_body/mass_properties/components.rs
  src/dynamics/rigid_body/mod.rs
  src/dynamics/solver/joints/mod.rs
  src/dynamics/solver/mod.rs
  src/dynamics/solver/xpbd/mod.rs
  src/lib.rs
  src/position.rs
  src/schedule/mod.rs
  src/schedule/time.rs
  src/spatial_query/mod.rs
  src/spatial_query/pipeline.rs
  src/spatial_query/query_filter.rs
  src/spatial_query/ray_caster.rs
  src/spatial_query/shape_caster.rs
  src/spatial_query/system_param.rs
  src/sync/mod.rs
Labels: C-Docs

#574 Mass Property Rework
  README.md
  crates/avian2d/Cargo.toml
  crates/avian2d/examples/chain_2d.rs
  crates/avian2d/examples/custom_collider.rs
  crates/avian2d/examples/distance_joint_2d.rs
  crates/avian2d/examples/fixed_joint_2d.rs
  crates/avian2d/examples/prismatic_joint_2d.rs
  crates/avian2d/examples/revolute_joint_2d.rs
  crates/avian3d/Cargo.toml
  crates/avian3d/examples/chain_3d.rs
  crates/avian3d/examples/custom_constraint.rs
  crates/avian3d/examples/distance_joint_3d.rs
  crates/avian3d/examples/fixed_joint_3d.rs
  crates/avian3d/examples/prismatic_joint_3d.rs
  crates/avian3d/examples/revolute_joint_3d.rs
  src/collision/collider/backend.rs
  src/collision/collider/hierarchy.rs
  src/collision/collider/mod.rs
  src/collision/collider/parry/mod.rs
  src/debug_render/mod.rs
  src/dynamics/ccd/mod.rs
  src/dynamics/integrator/mod.rs
  src/dynamics/integrator/semi_implicit_euler.rs
  src/dynamics/mod.rs
  src/dynamics/rigid_body/locked_axes.rs
  src/dynamics/rigid_body/mass_properties/components/collider.rs
  src/dynamics/rigid_body/mass_properties/components/computed.rs
  src/dynamics/rigid_body/mass_properties/components/mod.rs
  src/dynamics/rigid_body/mass_properties/mod.rs
  src/dynamics/rigid_body/mass_properties/system_param.rs
  src/dynamics/rigid_body/mass_properties/world_query.rs
  src/dynamics/rigid_body/mod.rs
  src/dynamics/rigid_body/world_query.rs
  src/dynamics/solver/contact/normal_part.rs
  src/dynamics/solver/contact/tangent_part.rs
  src/dynamics/solver/mod.rs
  src/lib.rs
  src/math/mod.rs
  src/position.rs
  src/sync/mod.rs
  src/tests/determinism_2d.rs
  src/tests/mod.rs
  src/type_registration.rs
  src/utils.rs
Labels: C-Enhancement, A-Dynamics, C-Usability

#566 Physics Interpolation and Extrapolation
  crates/avian2d/Cargo.toml
  crates/avian2d/examples/interpolation.rs
  crates/avian3d/Cargo.toml
  src/interpolation.rs
  src/lib.rs
Labels: C-Enhancement, A-Transform

#536 Add `RigidBodyDisabled`
  src/collision/narrow_phase.rs
  src/dynamics/integrator/mod.rs
  src/dynamics/rigid_body/mod.rs
  src/dynamics/sleeping/mod.rs
  src/dynamics/solver/mod.rs
  src/dynamics/solver/xpbd/mod.rs
  src/lib.rs
  src/type_registration.rs
Labels: C-Enhancement, A-Dynamics

#582 Add `cargo doc` to CI and fix doc links
  .github/workflows/ci.yml
  README.md
  crates/avian2d/examples/interpolation.rs
  src/dynamics/solver/mod.rs
  src/dynamics/solver/schedule.rs
  src/lib.rs
Labels: C-Docs, A-CI

#510 Improve `SpatialQuery` APIs and docs, and add more configuration
  crates/avian2d/examples/dynamic_character_2d/plugin.rs
  crates/avian2d/examples/kinematic_character_2d/plugin.rs
  crates/avian2d/examples/ray_caster.rs
  crates/avian3d/examples/cast_ray_predicate.rs
  crates/avian3d/examples/dynamic_character_3d/plugin.rs
  crates/avian3d/examples/kinematic_character_3d/plugin.rs
  src/collision/collider/parry/mod.rs
  src/debug_render/gizmos.rs
  src/debug_render/mod.rs
  src/picking/mod.rs
  src/spatial_query/mod.rs
  src/spatial_query/pipeline.rs
  src/spatial_query/query_filter.rs
  src/spatial_query/ray_caster.rs
  src/spatial_query/shape_caster.rs
  src/spatial_query/system_param.rs
Labels: C-Enhancement, A-Spatial-Query, X-Contentious, C-Usability

#497 revert schedule change for debug render. fixes #496
  src/debug_render/mod.rs
Labels: C-Performance, A-Debug-Rendering

#430 fix documentation for apply_force_at_point (local vs world space)
  src/dynamics/rigid_body/forces.rs
Labels: C-Docs, A-Dynamics

#584 Add `ColliderDisabled`
  src/collision/broad_phase.rs
  src/collision/collider/mod.rs
  src/collision/narrow_phase.rs
  src/dynamics/sleeping/mod.rs
  src/lib.rs
  src/spatial_query/system_param.rs
Labels: C-Enhancement, A-Collision

#585 Tweak disabling docs
  src/collision/collider/mod.rs
  src/dynamics/rigid_body/mod.rs
  src/dynamics/solver/joints/mod.rs
  src/lib.rs
Labels: C-Docs, A-Dynamics

#590 Renormalize rotation in 2D integration and clean up `renormalize`
  src/collision/collider/backend.rs
  src/dynamics/ccd/mod.rs
  src/dynamics/integrator/semi_implicit_euler.rs
  src/dynamics/solver/xpbd/angular_constraint.rs
  src/dynamics/solver/xpbd/positional_constraint.rs
  src/position.rs
  src/tests/determinism_2d.rs
Labels: C-Enhancement, A-Dynamics, C-Breaking-Change, P-Crash

#592 Fix missing `bevy_render/serialize` dependency.
  crates/avian2d/Cargo.toml
Labels: P-Compile-Failure

#596 Expose `EllipseColliderShape` and `RegularPolygonColliderShape`
  src/collision/collider/parry/mod.rs
  src/collision/collider/parry/primitives2d.rs
  src/debug_render/gizmos.rs
Labels: C-Enhancement, A-Collision

#598 Documentation improvements
  README.md
  src/collision/collider/mod.rs
  src/collision/collider/parry/mod.rs
  src/dynamics/ccd/mod.rs
  src/dynamics/rigid_body/mass_properties/mod.rs
  src/dynamics/rigid_body/mod.rs
  src/dynamics/rigid_body/physics_material.rs
  src/dynamics/solver/joints/mod.rs
  src/lib.rs
Labels: C-Docs

#608 Prevent panic when despawning entities with NoAuto components
  src/dynamics/rigid_body/mass_properties/components/mod.rs
Labels: A-Dynamics, P-Crash

#609 Fix effective inverse mass computation for 3D friction
  src/dynamics/solver/contact/tangent_part.rs
Labels: C-Bug, A-Dynamics

#611 Fix outdated mentions of the default schedule
  src/lib.rs
  src/sync/mod.rs
Labels: C-Docs, A-Scheduling
