Repository Jondolf/avian, pull requests merged in 2024-02, with the labels that each got.

#323 Fix colliders without `RigidBody` not working
  src/plugins/collision/broad_phase.rs
  src/plugins/sync.rs
Labels: bugfix, collision detection

#310 fix raycast does not follow entity transform without rigidbody
  src/components/mod.rs
  src/components/rotation.rs
  src/plugins/spatial_query/mod.rs
Labels: bugfix, spatial queries

#324 Store impulses in contacts and refactor contact data
  src/constraints/penetration.rs
  src/lib.rs
  src/plugins/collision/contact_query.rs
  src/plugins/collision/mod.rs
  src/plugins/collision/narrow_phase.rs
  src/plugins/debug/configuration.rs
  src/plugins/debug/mod.rs
  src/plugins/setup/mod.rs
  src/plugins/solver.rs
Labels: enhancement, collision detection, solver

#311 Add `ColliderBackendPlugin` and support generic colliders
  crates/bevy_xpbd_2d/Cargo.toml
  crates/bevy_xpbd_2d/examples/custom_collider.rs
  src/components/mass_properties.rs
  src/components/mod.rs
  src/components/rotation.rs
  src/components/world_queries.rs
  src/lib.rs
  src/plugins/collision/broad_phase.rs
  src/plugins/collision/collider.rs
  src/plugins/collision/collider_backend.rs
  src/plugins/collision/mod.rs
  src/plugins/collision/narrow_phase.rs
  src/plugins/mod.rs
  src/plugins/prepare.rs
  src/plugins/sleeping.rs
  src/plugins/spatial_query/mod.rs
  src/plugins/sync.rs
Labels: enhancement, collision detection

#313 Rework layers
  crates/bevy_xpbd_3d/examples/cast_ray_predicate.rs
  src/components/layers.rs
  src/plugins/spatial_query/query_filter.rs
Labels: enhancement, breaking change

#327 Make `Collider` optional, allowing usage without Parry or Nalgebra
  .github/workflows/ci.yml
  crates/bevy_xpbd_2d/Cargo.toml
  crates/bevy_xpbd_3d/Cargo.toml
  crates/bevy_xpbd_3d/examples/custom_broad_phase.rs
  src/components/mass_properties.rs
  src/components/rotation.rs
  src/components/world_queries.rs
  src/lib.rs
  src/plugins/collision/broad_phase.rs
  src/plugins/collision/collider/mod.rs
  src/plugins/collision/collider/parry.rs
  src/plugins/collision/collider_backend.rs
  src/plugins/collision/mod.rs
  src/plugins/debug/mod.rs
  src/plugins/debug/renderer.rs
  src/plugins/mod.rs
  src/plugins/spatial_query/mod.rs
  src/plugins/spatial_query/pipeline.rs
  src/plugins/spatial_query/ray_caster.rs
  src/tests.rs
  src/utils.rs
Labels: enhancement, collision detection

#326 Colliders from primitives
  crates/benches_common_3d/Cargo.toml
  crates/bevy_xpbd_2d/Cargo.toml
  crates/bevy_xpbd_2d/examples/chain_2d.rs
  crates/bevy_xpbd_2d/examples/collision_layers.rs
  crates/bevy_xpbd_2d/examples/distance_joint_2d.rs
  crates/bevy_xpbd_2d/examples/dynamic_character_2d/main.rs
  crates/bevy_xpbd_2d/examples/fixed_joint_2d.rs
  crates/bevy_xpbd_2d/examples/kinematic_character_2d/main.rs
  crates/bevy_xpbd_2d/examples/many_shapes.rs
  crates/bevy_xpbd_2d/examples/move_marbles.rs
  crates/bevy_xpbd_2d/examples/one_way_platform_2d.rs
  crates/bevy_xpbd_2d/examples/prismatic_joint_2d.rs
  crates/bevy_xpbd_2d/examples/ray_caster.rs
  crates/bevy_xpbd_2d/examples/revolute_joint_2d.rs
  crates/bevy_xpbd_2d/examples/sensor.rs
  crates/bevy_xpbd_2d/snapshots/bevy_xpbd_2d__tests__body_with_velocity_moves.snap
  crates/bevy_xpbd_3d/Cargo.toml
  crates/bevy_xpbd_3d/examples/chain_3d.rs
  crates/bevy_xpbd_3d/snapshots/bevy_xpbd_3d__tests__body_with_velocity_moves.snap
  crates/bevy_xpbd_3d/snapshots/bevy_xpbd_3d__tests__cubes_simulation_is_deterministic_across_machines.snap
  crates/examples_common_2d/Cargo.toml
  crates/examples_common_3d/Cargo.toml
  src/components/collider/mod.rs
  src/components/collider/primitives2d.rs
  src/components/collider/primitives3d.rs
  src/components/layers.rs
  src/components/mass_properties.rs
  src/components/mod.rs
  src/constraints/mod.rs
  src/lib.rs
  src/plugins/collision/broad_phase.rs
  src/plugins/collision/contact_query.rs
  src/plugins/debug/configuration.rs
  src/plugins/debug/gizmos.rs
  src/plugins/debug/mod.rs
  src/plugins/spatial_query/mod.rs
  src/plugins/spatial_query/query_filter.rs
  src/plugins/spatial_query/shape_caster.rs
  src/plugins/spatial_query/system_param.rs
  src/snapshots/bevy_xpbd_2d__bevy_xpbd__tests__body_with_velocity_moves.snap.new
  src/snapshots/bevy_xpbd_2d__tests__body_with_velocity_moves.snap.new
  src/snapshots/bevy_xpbd_3d__bevy_xpbd__tests__body_with_velocity_moves.snap.new
  src/snapshots/bevy_xpbd_3d__tests__body_with_velocity_moves.snap.new
  src/tests.rs
Labels: enhancement, collision detection, breaking change

#329 Use direction types in ray and shape casting APIs and add `RayCaster::from_ray`
  crates/bevy_xpbd_2d/examples/dynamic_character_2d/plugin.rs
  crates/bevy_xpbd_2d/examples/kinematic_character_2d/plugin.rs
  crates/bevy_xpbd_2d/examples/ray_caster.rs
  crates/bevy_xpbd_3d/examples/cast_ray_predicate.rs
  crates/bevy_xpbd_3d/examples/dynamic_character_3d/plugin.rs
  crates/bevy_xpbd_3d/examples/kinematic_character_3d/plugin.rs
  src/components/rotation.rs
  src/math/mod.rs
  src/plugins/debug/gizmos.rs
  src/plugins/spatial_query/mod.rs
  src/plugins/spatial_query/pipeline.rs
  src/plugins/spatial_query/ray_caster.rs
  src/plugins/spatial_query/shape_caster.rs
  src/plugins/spatial_query/system_param.rs
Labels: enhancement, spatial queries, breaking change

#330 Fix doc examples
  src/plugins/collision/collider/parry.rs
  src/plugins/spatial_query/system_param.rs
Labels: documentation

#333 Improve error handling for invalid feature combinations
  src/components/mass_properties.rs
  src/components/world_queries.rs
  src/lib.rs
  src/plugins/collision/collider/mod.rs
  src/plugins/collision/mod.rs
  src/plugins/debug/gizmos.rs
  src/plugins/debug/mod.rs
  src/plugins/mod.rs
  src/plugins/spatial_query/mod.rs
  src/plugins/spatial_query/ray_caster.rs
  src/tests.rs
  src/utils.rs
Labels: bugfix

#340 Fix time of impact description in `ShapeHits`
  src/plugins/spatial_query/shape_caster.rs
Labels: documentation
