Repository Jondolf/avian, pull requests merged in 2024-11, with the labels that each got.

#540 Update to Bevy 0.15 release candidate
  README.md
  crates/avian2d/Cargo.toml
  crates/avian2d/examples/ccd.rs
  crates/avian2d/examples/chain_2d.rs
  crates/avian2d/examples/collision_layers.rs
  crates/avian2d/examples/custom_collider.rs
  crates/avian2d/examples/distance_joint_2d.rs
  crates/avian2d/examples/dynamic_character_2d/main.rs
  crates/avian2d/examples/dynamic_character_2d/plugin.rs
  crates/avian2d/examples/fixed_joint_2d.rs
  crates/avian2d/examples/kinematic_character_2d/main.rs
  crates/avian2d/examples/kinematic_character_2d/plugin.rs
  crates/avian2d/examples/many_shapes.rs
  crates/avian2d/examples/move_marbles.rs
  crates/avian2d/examples/one_way_platform_2d.rs
  crates/avian2d/examples/prismatic_joint_2d.rs
  crates/avian2d/examples/ray_caster.rs
  crates/avian2d/examples/revolute_joint_2d.rs
  crates/avian2d/examples/sensor.rs
  crates/avian3d/Cargo.toml
  crates/avian3d/examples/cast_ray_predicate.rs
  crates/avian3d/examples/chain_3d.rs
  crates/avian3d/examples/collider_constructors.rs
  crates/avian3d/examples/cubes.rs
  crates/avian3d/examples/custom_broad_phase.rs
  crates/avian3d/examples/custom_constraint.rs
  crates/avian3d/examples/distance_joint_3d.rs
  crates/avian3d/examples/dynamic_character_3d/main.rs
  crates/avian3d/examples/dynamic_character_3d/plugin.rs
  crates/avian3d/examples/fixed_joint_3d.rs
  crates/avian3d/examples/kinematic_character_3d/main.rs
  crates/avian3d/examples/kinematic_character_3d/plugin.rs
  crates/avian3d/examples/prismatic_joint_3d.rs
  crates/avian3d/examples/revolute_joint_3d.rs
  crates/avian3d/examples/trimesh_shapes_3d.rs
  crates/benches_common_2d/Cargo.toml
  crates/benches_common_3d/Cargo.toml
  crates/examples_common_2d/Cargo.toml
  crates/examples_common_2d/src/lib.rs
  crates/examples_common_3d/Cargo.toml
  crates/examples_common_3d/src/lib.rs
  src/collision/collider/backend.rs
  src/collision/collider/constructor.rs
  src/collision/collider/parry/mod.rs
  src/collision/collider/parry/primitives2d.rs
  src/debug_render/gizmos.rs
  src/debug_render/mod.rs
  src/dynamics/rigid_body/mass_properties/mod.rs
  src/dynamics/solver/mod.rs
  src/math/mod.rs
  src/schedule/time.rs
  src/sync/ancestor_marker.rs
  src/tests.rs
Labels: C-Enhancement

#541 Use required components for component initialization
  crates/avian2d/examples/sensor.rs
  crates/avian3d/snapshots/avian3d__tests__cubes_simulation_is_deterministic_across_machines.snap
  src/collision/collider/backend.rs
  src/collision/collider/mod.rs
  src/collision/collider/parry/mod.rs
  src/collision/narrow_phase.rs
  src/dynamics/ccd/mod.rs
  src/dynamics/rigid_body/mod.rs
  src/dynamics/rigid_body/world_query.rs
  src/dynamics/sleeping/mod.rs
  src/prepare.rs
  src/spatial_query/ray_caster.rs
  src/spatial_query/shape_caster.rs
Labels: C-Breaking-Change, C-Code-Quality

#542 Fix 3D friction
  README.md
  crates/avian3d/snapshots/avian3d__tests__cubes_simulation_is_deterministic_across_machines.snap
  src/dynamics/solver/contact/mod.rs
Labels: C-Bug, A-Dynamics

#545 Use entity Display in messages instead of Debug
  src/collision/collider/mod.rs
  src/collision/contact_reporting.rs
  src/collision/narrow_phase.rs
  src/dynamics/rigid_body/mass_properties/mod.rs
  src/spatial_query/mod.rs
  src/spatial_query/ray_caster.rs
  src/spatial_query/shape_caster.rs
  src/spatial_query/system_param.rs
Labels: C-Usability

#546 Fix spatial query doc tests
  src/spatial_query/system_param.rs
Labels: C-Docs, A-Spatial-Query

#547 Fix overlap warnings: yeet edition
  src/collision/narrow_phase.rs
Labels: A-Collision, C-Usability

#544 Added missing deref and derefMut trait to AngularVelocity in 2D
  src/dynamics/rigid_body/mod.rs
Labels: A-Dynamics, C-Usability

#551 Improvements to friction and restitution
  crates/avian2d/examples/dynamic_character_2d/plugin.rs
  crates/avian2d/examples/kinematic_character_2d/plugin.rs
  crates/avian3d/examples/dynamic_character_3d/plugin.rs
  crates/avian3d/examples/kinematic_character_3d/plugin.rs
  crates/avian3d/snapshots/avian3d__tests__cubes_simulation_is_deterministic_across_machines.snap
  src/collision/narrow_phase.rs
  src/dynamics/rigid_body/mod.rs
  src/dynamics/rigid_body/physics_material.rs
  src/dynamics/solver/mod.rs
  src/prepare.rs
Labels: C-Enhancement, A-Dynamics, C-Breaking-Change

#554 Add physics picking backend using `bevy_picking`
  .github/workflows/ci.yml
  crates/avian2d/Cargo.toml
  crates/avian3d/Cargo.toml
  crates/avian3d/examples/picking.rs
  src/lib.rs
  src/picking/mod.rs
Labels: C-Enhancement, A-Spatial-Query

#555 Replace snapshots with hash-based cross-platform determinism test
  crates/avian2d/Cargo.toml
  crates/avian2d/examples/determinism_2d.rs
  crates/avian2d/snapshots/avian2d__tests__body_with_velocity_moves.snap
  crates/avian3d/Cargo.toml
  crates/avian3d/snapshots/avian3d__tests__body_with_velocity_moves.snap
  crates/avian3d/snapshots/avian3d__tests__cubes_simulation_is_deterministic_across_machines.snap
  src/dynamics/solver/joints/revolute.rs
  src/dynamics/solver/mod.rs
  src/schedule/mod.rs
  src/tests/determinism_2d.rs
  src/tests/mod.rs
Labels: C-Testing, C-Examples, A-Scheduling, A-Determinism

#556 Add `find_deepest_contact` for `Contacts` and `ContactManifold`
  src/collision/mod.rs
Labels: A-Collision, C-Usability

#557 Add helpers for `ContactData` and `SingleContact` to flip contact data
  src/collision/mod.rs
Labels: A-Collision, C-Usability

#565 Fix plugin table
  src/lib.rs
Labels: C-Docs

#569 Fix new Rust 1.83.0 lints
  src/collision/collider/backend.rs
  src/collision/collider/world_query.rs
  src/collision/narrow_phase.rs
  src/debug_render/gizmos.rs
  src/dynamics/rigid_body/mass_properties/world_query.rs
  src/dynamics/rigid_body/world_query.rs
  src/spatial_query/pipeline.rs
  src/spatial_query/system_param.rs
Labels: C-Code-Quality
