Repository Jondolf/avian, pull requests merged in 2024-07, with the labels that each got.

#390 Clean up and refactor joint logic
  crates/avian3d/examples/custom_constraint.rs
  src/collision/collider/backend.rs
  src/debug_render/mod.rs
  src/dynamics/solver/joints/distance.rs
  src/dynamics/solver/joints/fixed.rs
  src/dynamics/solver/joints/mod.rs
  src/dynamics/solver/joints/prismatic.rs
  src/dynamics/solver/joints/revolute.rs
  src/dynamics/solver/joints/spherical.rs
  src/dynamics/solver/xpbd/angular_constraint.rs
  src/dynamics/solver/xpbd/mod.rs
  src/dynamics/solver/xpbd/positional_constraint.rs
  src/lib.rs
Labels: solver, breaking change

#392 Fix `GlobalTransform` updates for entities with non-physics children
  src/plugins/sync/mod.rs
Labels: bugfix

#391 Implement sweep-based CCD
  crates/avian2d/Cargo.toml
  crates/avian2d/examples/ccd.rs
  src/collision/broad_phase.rs
  src/collision/collider/backend.rs
  src/dynamics/ccd/mod.rs
  src/dynamics/mod.rs
  src/lib.rs
Labels: enhancement, collision detection, solver

#394 Fix inconsistency between collider constructors and Bevy's primitives
  crates/avian2d/examples/dynamic_character_2d/main.rs
  crates/avian2d/examples/kinematic_character_2d/main.rs
  crates/avian2d/examples/sensor.rs
  crates/avian3d/examples/dynamic_character_3d/main.rs
  crates/avian3d/examples/kinematic_character_3d/main.rs
  src/collision/collider/backend.rs
  src/collision/collider/constructor.rs
  src/collision/collider/parry/mod.rs
  src/collision/collider/parry/primitives2d.rs
  src/collision/collider/parry/primitives3d.rs
  src/dynamics/ccd/mod.rs
  src/dynamics/rigid_body/locked_axes.rs
  src/dynamics/rigid_body/mod.rs
  src/dynamics/rigid_body/world_query.rs
Labels: collision detection, breaking change

#393 Implement collision margin
  src/collision/collider/backend.rs
  src/collision/collider/mod.rs
  src/collision/collider/parry/mod.rs
  src/collision/collider/world_query.rs
  src/collision/narrow_phase.rs
  src/dynamics/ccd/mod.rs
  src/dynamics/solver/contact/mod.rs
  src/type_registration.rs
Labels: enhancement, collision detection, solver

#398 Fix `f64` support with `debug-plugin` feature
  .github/workflows/ci.yml
  src/debug_render/gizmos.rs
  src/debug_render/mod.rs
Labels: bugfix

#405 Fix `Mesh` not being optional
  src/collision/collider/backend.rs
  src/collision/collider/constructor.rs
  src/collision/collider/parry/mod.rs
Labels: regression, bugfix

#404 Fix non-dynamic bodies having mass in collisions
  crates/avian3d/snapshots/avian3d__tests__cubes_simulation_is_deterministic_across_machines.snap
  src/dynamics/rigid_body/world_query.rs
  src/dynamics/solver/contact/mod.rs
Labels: bugfix, solver

#409 Fix solver contact normal for rotated child colliders
  src/dynamics/solver/contact/mod.rs
Labels: bugfix, solver

#413 Fix remove ancestor markers crash
  src/sync/ancestor_marker.rs
Labels: bugfix

#418 Add parry's TriMeshFlags::FIX_INTERNAL_EDGES to avian's TrimeshFlags
  src/collision/collider/parry/mod.rs
Labels: collision detection

#420 Use implicit Euler for gyroscopic torque
  crates/avian3d/snapshots/avian3d__tests__cubes_simulation_is_deterministic_across_machines.snap
  src/dynamics/integrator/mod.rs
  src/dynamics/integrator/semi_implicit_euler.rs
  src/math/mod.rs
Labels: bugfix, solver

#424 Fix contact constraints being cleared many times with many backends
  src/collision/narrow_phase.rs
Labels: bugfix, collision detection

#423 Make `HierarchyPlugin` optional
  src/collision/collider/backend.rs
  src/collision/collider/hierarchy.rs
  src/sync/ancestor_marker.rs
  src/tests.rs
Labels: regression, bugfix

#425 Handle sleeping logic before physics
  src/dynamics/integrator/mod.rs
  src/dynamics/sleeping/mod.rs
  src/prepare.rs
Labels: bugfix

#464 [+]Avian(Backend) - GravityScale::Default changed to 1.0f32
  src/dynamics/rigid_body/mod.rs
Labels: C-Bug, A-Dynamics

#472 Fix collider scale propagation issues
  src/collision/collider/hierarchy.rs
  src/collision/collider/parry/mod.rs
  src/collision/mod.rs
  src/dynamics/rigid_body/forces.rs
  src/dynamics/solver/xpbd/mod.rs
  src/prepare.rs
  src/schedule/mod.rs
  src/spatial_query/mod.rs
  src/spatial_query/pipeline.rs
  src/spatial_query/system_param.rs
  src/sync/mod.rs
Labels: C-Bug, A-Collision
