Repository Jondolf/avian, pull requests merged in 2025-01, with the labels that each got.

#610 Collision Hooks
  crates/avian2d/examples/one_way_platform_2d.rs
  src/collision/broad_phase.rs
  src/collision/collider/world_query.rs
  src/collision/hooks.rs
  src/collision/mod.rs
  src/collision/narrow_phase.rs
  src/dynamics/ccd/mod.rs
  src/lib.rs
  src/schedule/mod.rs
Labels: C-Enhancement, A-Collision

#621 Fix test after 0.15.1 breakage
  src/tests/determinism_2d.rs
Labels: C-Testing, A-Determinism

#622 Fix physics being run with zero delta time
  src/schedule/mod.rs
Labels: C-Regression, A-Scheduling

#623 Fix `From<Rotation>` implementation for `Rot2`
  src/position.rs
Labels: C-Bug, A-Transform

#624 Fix `SleepingPlugin` not being optional and add `WakeUpBody` command
  crates/avian2d/examples/one_way_platform_2d.rs
  src/collision/collider/backend.rs
  src/collision/narrow_phase.rs
  src/dynamics/mod.rs
  src/dynamics/rigid_body/world_query.rs
  src/dynamics/sleeping/mod.rs
  src/dynamics/solver/xpbd/mod.rs
Labels: C-Regression, A-Dynamics

#627 Fix use of unmaintaned crate proc-macro-error
  crates/avian_derive/Cargo.toml
  crates/avian_derive/src/lib.rs
Labels: C-Dependencies

#636 clarify that collider-aabb is in world space
  src/collision/collider/mod.rs
Labels: C-Docs, A-Collision

#638 Fix SpatialPipeline with_predicate docs
  src/spatial_query/pipeline.rs
Labels: C-Docs, A-Spatial-Query

#630 Make avian3d::dynamics::rigid_body::forces public
  src/dynamics/rigid_body/forces.rs
  src/dynamics/rigid_body/mod.rs
Labels: A-Dynamics

#641 Improve docs for velocity components
  src/dynamics/rigid_body/mod.rs
Labels: C-Docs, A-Dynamics

#642 Fix collisions not being cleared for immediately despawned entities
  src/collision/narrow_phase.rs
Labels: C-Bug, A-Collision

#632 Introduce `PhysicsPickingFilter`
  crates/avian3d/examples/picking.rs
  src/lib.rs
  src/picking/mod.rs
Labels: C-Enhancement, A-Spatial-Query, C-Breaking-Change

#644 Remove unnecessary `cfg_attr` from `from_shape` mass helpers
  src/dynamics/rigid_body/mass_properties/components/mod.rs
Labels: A-Dynamics, C-Usability
