Repository Jondolf/avian, pull requests merged in 2025-09, with the labels that each got.

#823 Bump `derive_more` to v2
  Cargo.lock
  crates/avian2d/Cargo.toml
  crates/avian3d/Cargo.toml
Labels: C-Dependencies

#824 Improve tunneling prevention by solving static contacts last
  src/dynamics/solver/constraint_graph.rs
  src/tests/determinism_2d.rs
Labels: C-Enhancement, A-Dynamics

#826 Gate island validation behind `validate` feature
  crates/avian2d/Cargo.toml
  crates/avian3d/Cargo.toml
  src/dynamics/solver/islands/mod.rs
  src/dynamics/solver/joint_graph/plugin.rs
  src/lib.rs
Labels: C-Performance, C-Testing, A-Dynamics

#832 Fix `glam_matrix_extensions` and `bevy_heavy` commit refs
  Cargo.lock
  crates/avian2d/Cargo.toml
  crates/avian3d/Cargo.toml
Labels: P-Compile-Failure, C-Dependencies
