Repository Jondolf/avian, pull requests merged in 2025-05, with the labels that each got.

#716 Fix `ColliderOf` not being inserted when `Collider` is added to child
  src/collision/collider/collider_hierarchy/plugin.rs
Labels: C-Bug, C-Regression, A-Collision

#717 Include rigid body entity in `OnCollisionStart` and `OnCollisionEnd`
  src/collision/collision_events.rs
  src/collision/narrow_phase/mod.rs
Labels: A-Collision, C-Usability

#718 Rename most `rigid_body` names to `body`
  crates/avian2d/examples/dynamic_character_2d/plugin.rs
  crates/avian2d/examples/kinematic_character_2d/plugin.rs
  crates/avian3d/examples/dynamic_character_3d/plugin.rs
  crates/avian3d/examples/kinematic_character_3d/plugin.rs
  src/collision/broad_phase.rs
  src/collision/collider/backend.rs
  src/collision/collider/collider_hierarchy/mod.rs
  src/collision/collider/collider_hierarchy/plugin.rs
  src/collision/collider/collider_transform/plugin.rs
  src/collision/collider/world_query.rs
  src/collision/collision_events.rs
  src/collision/narrow_phase/mod.rs
  src/collision/narrow_phase/system_param.rs
  src/debug_render/mod.rs
  src/dynamics/ccd/mod.rs
  src/dynamics/rigid_body/mass_properties/mod.rs
  src/prepare.rs
Labels: C-Breaking-Change, C-Code-Quality

#719 Rename entity properties in `ContactPair` and `ContactConstraint`
  crates/avian2d/examples/determinism_2d.rs
  crates/avian2d/examples/kinematic_character_2d/plugin.rs
  crates/avian2d/examples/one_way_platform_2d.rs
  crates/avian3d/examples/conveyor_belt.rs
  crates/avian3d/examples/kinematic_character_3d/plugin.rs
  src/collision/broad_phase.rs
  src/collision/collider/collider_hierarchy/plugin.rs
  src/collision/contact_types/contact_graph.rs
  src/collision/contact_types/mod.rs
  src/collision/contact_types/system_param.rs
  src/collision/hooks.rs
  src/collision/narrow_phase/mod.rs
  src/collision/narrow_phase/system_param.rs
  src/debug_render/mod.rs
  src/dynamics/sleeping/mod.rs
  src/dynamics/solver/contact/mod.rs
  src/dynamics/solver/mod.rs
Labels: A-Collision, C-Breaking-Change, C-Code-Quality

#722 Fix wrong shape order in `shape_intersections_callback`
  src/spatial_query/pipeline.rs
Labels: C-Bug, C-Regression, A-Spatial-Query

#723 Fix doc comment for `Rotation::from_sin_cos`
  src/position.rs
Labels: C-Docs

#724 Add Ease implementations on Position/Rotation
  src/position.rs
Labels: C-Enhancement, A-Transform

#725 Replaced Avian transform syncs with 0.16 Bevy versions
  src/collision/collider/collider_transform/plugin.rs
  src/prepare.rs
  src/sync/mod.rs
Labels: C-Performance, A-Transform

#727 Add convex_polyline for creating Collider
  src/collision/collider/constructor.rs
  src/collision/collider/parry/mod.rs
Labels: C-Enhancement, A-Collision

#728 Export TransformEasingSet
  src/interpolation.rs
Labels: C-Usability, A-Transform

#729 Improve CI performance, cache size and reactivate Linux tests
  .github/workflows/ci.yml
  src/collision/collider/constructor.rs
Labels: A-CI

#730 Fix CI, speed it up some more, and add Lockfile
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
  src/collision/collider/constructor.rs
Labels: A-CI

#732 Improve CI caching
  .github/workflows/ci.yml
  Cargo.lock
Labels: A-CI

#736 Make CI faster
  .cargo/config_ci.toml
  .github/workflows/ci.yml
Labels: A-CI

#735 Solver Bodies
  crates/avian2d/examples/ccd.rs
  crates/avian2d/examples/chain_2d.rs
  crates/avian2d/examples/determinism_2d.rs
  crates/avian3d/examples/chain_3d.rs
  crates/avian3d/examples/custom_constraint.rs
  src/collision/collider/world_query.rs
  src/collision/narrow_phase/mod.rs
  src/collision/narrow_phase/system_param.rs
  src/debug_render/mod.rs
  src/dynamics/ccd/mod.rs
  src/dynamics/integrator/mod.rs
  src/dynamics/integrator/semi_implicit_euler.rs
  src/dynamics/mod.rs
  src/dynamics/rigid_body/mod.rs
  src/dynamics/rigid_body/world_query.rs
  src/dynamics/solver/contact/mod.rs
  src/dynamics/solver/contact/tangent_part.rs
  src/dynamics/solver/diagnostics.rs
  src/dynamics/solver/joints/distance.rs
  src/dynamics/solver/joints/fixed.rs
  src/dynamics/solver/joints/fixed_angle_constraint.rs
  src/dynamics/solver/joints/mod.rs
  src/dynamics/solver/joints/point_constraint.rs
  src/dynamics/solver/joints/prismatic.rs
  src/dynamics/solver/joints/revolute.rs
  src/dynamics/solver/joints/spherical.rs
  src/dynamics/solver/mod.rs
  src/dynamics/solver/schedule.rs
  src/dynamics/solver/solver_body/mod.rs
  src/dynamics/solver/solver_body/plugin.rs
  src/dynamics/solver/xpbd/angular_constraint.rs
  src/dynamics/solver/xpbd/mod.rs
  src/dynamics/solver/xpbd/positional_constraint.rs
  src/lib.rs
  src/math/mod.rs
  src/position.rs
  src/prepare.rs
  src/tests/determinism_2d.rs
  src/tests/mod.rs
  src/type_registration.rs
  src/utils.rs
Labels: C-Enhancement, C-Performance, A-Dynamics, C-Breaking-Change, X-Contentious, D-Complex

#743 Cache colliders created from meshes via constructors
  src/collision/collider/backend.rs
  src/collision/collider/cache.rs
  src/collision/collider/constructor.rs
  src/collision/collider/mod.rs
  src/collision/mod.rs
  src/lib.rs
  src/tests/mod.rs
Labels: C-Performance, A-Collision

#745 Fix gyroscopic torque
  src/dynamics/integrator/semi_implicit_euler.rs
Labels: C-Bug, C-Regression, A-Dynamics

#747 Fix order of quaternion multiplication
  src/dynamics/integrator/mod.rs
  src/dynamics/integrator/semi_implicit_euler.rs
Labels: C-Bug, A-Dynamics
