Repository Jondolf/avian, pull requests merged in 2025-04, with the labels that each got.

#686 Create thread-local contact status bit vecs with correct block count
  src/collision/narrow_phase/system_param.rs
  src/data_structures/bit_vec.rs
Labels: C-Bug, A-Collision, P-Crash

#690 bevy 0.16-rc.3
  src/diagnostics/ui.rs
  src/picking/mod.rs
Labels: C-Dependencies

#691 Register some types
  src/type_registration.rs
Labels: C-Bug

#692 Refactor ChildOf from named to tuple struct
  crates/avian2d/Cargo.toml
  crates/avian3d/Cargo.toml
  crates/benches_common_2d/Cargo.toml
  crates/benches_common_3d/Cargo.toml
  crates/examples_common_2d/Cargo.toml
  crates/examples_common_3d/Cargo.toml
  src/collision/collider/backend.rs
  src/collision/collider/collider_transform/plugin.rs
  src/dynamics/rigid_body/mass_properties/mod.rs
  src/prepare.rs
  src/spatial_query/mod.rs
  src/sync/ancestor_marker.rs
  src/sync/mod.rs
Labels: C-Dependencies

#693 Fix contact pair removal bugs
  src/collision/broad_phase.rs
  src/collision/collider/backend.rs
  src/collision/collider/parry/mod.rs
  src/collision/collider/world_query.rs
  src/collision/layers.rs
  src/collision/narrow_phase/mod.rs
  src/collision/narrow_phase/system_param.rs
  src/spatial_query/pipeline.rs
  src/spatial_query/system_param.rs
  src/tests/determinism_2d.rs
Labels: C-Bug, A-Collision, C-Breaking-Change

#694 Handle entity disabling properly
  src/collision/broad_phase.rs
  src/collision/narrow_phase/mod.rs
Labels: C-Bug, A-Collision

#689 Use sparse entity-to-node mapping for `ContactGraph`
  crates/avian3d/Cargo.toml
  src/collision/contact_types/contact_graph.rs
  src/data_structures/entity_data_index.rs
  src/data_structures/mod.rs
  src/data_structures/sparse_secondary_map.rs
  src/spatial_query/pipeline.rs
Labels: C-Performance, A-Collision

#696 Reduce `SpatialQueryPipeline` overhead
  src/spatial_query/pipeline.rs
  src/spatial_query/ray_caster.rs
  src/spatial_query/shape_caster.rs
  src/spatial_query/system_param.rs
Labels: C-Performance, A-Spatial-Query

#698 Clean up collision detection module structure and re-exports
  crates/avian2d/examples/custom_collider.rs
  crates/avian2d/examples/kinematic_character_2d/plugin.rs
  crates/avian3d/examples/kinematic_character_3d/plugin.rs
  src/collision/broad_phase.rs
  src/collision/collider/backend.rs
  src/collision/collider/collider_transform/plugin.rs
  src/collision/collider/layers.rs
  src/collision/collider/mod.rs
  src/collision/collider/parry/contact_query.rs
  src/collision/collider/parry/mod.rs
  src/collision/contact_types/feature_id.rs
  src/collision/contact_types/mod.rs
  src/collision/mod.rs
  src/collision/narrow_phase/mod.rs
  src/collision/narrow_phase/system_param.rs
  src/debug_render/gizmos.rs
  src/diagnostics/mod.rs
  src/diagnostics/ui.rs
  src/dynamics/mod.rs
  src/dynamics/rigid_body/mass_properties/mod.rs
  src/dynamics/solver/mod.rs
  src/dynamics/solver/schedule.rs
  src/lib.rs
  src/type_registration.rs
Labels: A-Collision, C-Breaking-Change, C-Code-Quality

#701 Updated to Bevy 0.16.0-rc.5
  src/collision/collider/constructor.rs
  src/collision/contact_types/contact_graph.rs
  src/data_structures/sparse_secondary_map.rs
  src/utils.rs
Labels: C-Dependencies

#704 Add observable `OnCollisionStart` and `OnCollisionEnd` events
  README.md
  src/collision/collision_events.rs
  src/collision/mod.rs
  src/collision/narrow_phase/mod.rs
  src/schedule/mod.rs
Labels: C-Enhancement, A-Collision

#711 Update to Bevy 0.16.0
  README.md
  crates/avian2d/Cargo.toml
  crates/avian3d/Cargo.toml
  crates/benches_common_2d/Cargo.toml
  crates/benches_common_3d/Cargo.toml
  crates/examples_common_2d/Cargo.toml
  crates/examples_common_3d/Cargo.toml
  src/diagnostics/ui.rs
Labels: C-Bug, C-Dependencies

#712 Sort contact constraints for determinism when `parallel` feature is enabled
  .github/workflows/ci.yml
  src/collision/narrow_phase/system_param.rs
  src/dynamics/solver/contact/mod.rs
Labels: C-Bug, C-Regression, A-Collision, A-Determinism

#714 Use try_remove to avoid errors on AncestorMarker removal
  src/sync/ancestor_marker.rs
Labels: C-Bug, A-Collision
