Repository Jondolf/avian, pull requests merged in 2025-07, with the labels that each got.

#772 Fix AABB interval initialization in broad phase
  src/collision/broad_phase.rs
Labels: C-Bug, A-Collision

#774 Upgrade to Rust 2024 edition
  crates/avian2d/Cargo.toml
  crates/avian2d/examples/determinism_2d.rs
  crates/avian2d/examples/one_way_platform_2d.rs
  crates/avian3d/Cargo.toml
  crates/avian3d/examples/cast_ray_predicate.rs
  crates/avian3d/examples/conveyor_belt.rs
  crates/avian_derive/Cargo.toml
  crates/avian_derive/src/lib.rs
  crates/examples_common_2d/Cargo.toml
  crates/examples_common_3d/Cargo.toml
  src/collision/broad_phase.rs
  src/collision/collider/backend.rs
  src/collision/collider/cache.rs
  src/collision/collider/collider_hierarchy/mod.rs
  src/collision/collider/collider_transform/plugin.rs
  src/collision/collider/layers.rs
  src/collision/collider/mod.rs
  src/collision/collider/parry/contact_query.rs
  src/collision/collider/parry/mod.rs
  src/collision/collider/parry/primitives2d.rs
  src/collision/diagnostics.rs
  src/collision/mod.rs
  src/collision/narrow_phase/mod.rs
  src/collision/narrow_phase/system_param.rs
  src/data_structures/graph.rs
  src/data_structures/sparse_secondary_map.rs
  src/diagnostics/entity_counters.rs
  src/diagnostics/mod.rs
  src/dynamics/ccd/mod.rs
  src/dynamics/integrator/mod.rs
  src/dynamics/mod.rs
  src/dynamics/rigid_body/mass_properties/system_param.rs
  src/dynamics/solver/diagnostics.rs
  src/dynamics/solver/mod.rs
  src/dynamics/solver/solver_body/mod.rs
  src/dynamics/solver/solver_body/plugin.rs
  src/interpolation.rs
  src/lib.rs
  src/picking/mod.rs
  src/position.rs
  src/spatial_query/diagnostics.rs
  src/spatial_query/mod.rs
  src/spatial_query/pipeline.rs
  src/spatial_query/ray_caster.rs
  src/spatial_query/shape_caster.rs
  src/tests/determinism_2d.rs
  src/type_registration.rs
Labels: C-Code-Quality

#771 Parallel Solver With Graph Coloring
  Cargo.lock
  crates/avian2d/Cargo.toml
  crates/avian2d/examples/custom_collider.rs
  crates/avian2d/examples/determinism_2d.rs
  crates/avian3d/Cargo.toml
  crates/avian3d/examples/custom_broad_phase.rs
  src/collision/broad_phase.rs
  src/collision/collider/parry/contact_query.rs
  src/collision/contact_types/contact_graph.rs
  src/collision/contact_types/mod.rs
  src/collision/contact_types/system_param.rs
  src/collision/mod.rs
  src/collision/narrow_phase/mod.rs
  src/collision/narrow_phase/system_param.rs
  src/data_structures/bit_vec.rs
  src/data_structures/graph.rs
  src/data_structures/mod.rs
  src/data_structures/stable_graph.rs
  src/diagnostics/ui.rs
  src/dynamics/rigid_body/world_query.rs
  src/dynamics/sleeping/mod.rs
  src/dynamics/solver/constraint_graph.rs
  src/dynamics/solver/contact/mod.rs
  src/dynamics/solver/contact/normal_part.rs
  src/dynamics/solver/contact/tangent_part.rs
  src/dynamics/solver/diagnostics.rs
  src/dynamics/solver/mod.rs
  src/dynamics/solver/schedule.rs
  src/dynamics/solver/softness_parameters/mod.rs
  src/tests/determinism_2d.rs
Labels: C-Performance, A-Dynamics, C-Breaking-Change, D-Complex

#775 Only query for what is needed in the `NarrowPhase`
  src/collision/collider/mod.rs
  src/collision/collider/world_query.rs
  src/collision/narrow_phase/system_param.rs
Labels: A-Collision, C-Code-Quality

#779 Add tests for `Forces`
  src/dynamics/rigid_body/forces/mod.rs
  src/dynamics/rigid_body/forces/tests.rs
Labels: C-Testing, A-Dynamics

#783 Allow `Forces` to wake or not wake up bodies
  src/dynamics/integrator/mod.rs
  src/dynamics/mod.rs
  src/dynamics/rigid_body/forces/mod.rs
  src/dynamics/rigid_body/forces/plugin.rs
  src/dynamics/rigid_body/forces/query_data.rs
  src/dynamics/rigid_body/forces/tests.rs
  src/dynamics/rigid_body/mod.rs
  src/dynamics/sleeping/mod.rs
Labels: C-Enhancement, A-Dynamics, C-Usability

#784 Implement `Deref` and `IntoIterator` for `RigidBodyColliders`
  src/collision/collider/collider_hierarchy/mod.rs
Labels: A-Collision, C-Usability

#785 Rework `SyncPlugin`, remove `PreparePlugin`, and improve system scheduling
  crates/avian2d/Cargo.toml
  crates/avian3d/Cargo.toml
  src/ancestor_marker.rs
  src/collision/collider/backend.rs
  src/collision/collider/collider_hierarchy/plugin.rs
  src/collision/collider/collider_transform/plugin.rs
  src/dynamics/rigid_body/mass_properties/mod.rs
  src/dynamics/rigid_body/mod.rs
  src/dynamics/sleeping/mod.rs
  src/lib.rs
  src/physics_transform/mod.rs
  src/physics_transform/tests.rs
  src/physics_transform/transform.rs
  src/prepare.rs
  src/schedule/mod.rs
  src/tests/determinism_2d.rs
  src/type_registration.rs
Labels: C-Performance, C-Breaking-Change, C-Code-Quality, C-Usability, A-Transform

#788 Expose total normal impulses, improve contact impulse APIs
  src/collision/contact_types/mod.rs
  src/dynamics/solver/contact/mod.rs
  src/dynamics/solver/contact/normal_part.rs
  src/dynamics/solver/mod.rs
Labels: C-Enhancement, A-Collision, A-Dynamics, C-Breaking-Change, C-Usability

#791 Fix colliders not working after removing `Disabled`/`ColliderDisabled`
  src/collision/broad_phase.rs
Labels: C-Bug, A-Collision

#792 Expose anchors, world-space `point`, and `normal_speed` for contacts
  crates/avian2d/examples/custom_collider.rs
  src/collision/collider/parry/contact_query.rs
  src/collision/contact_types/mod.rs
  src/collision/narrow_phase/system_param.rs
  src/debug_render/mod.rs
  src/dynamics/solver/contact/normal_part.rs
  src/dynamics/solver/contact/tangent_part.rs
  src/dynamics/solver/mod.rs
  src/tests/determinism_2d.rs
Labels: C-Bug, C-Enhancement, C-Performance, A-Collision, C-Breaking-Change, C-Usability

#793 Improve inverse angular inertia tensor computation
  src/dynamics/rigid_body/mass_properties/mod.rs
  src/dynamics/rigid_body/mass_properties/system_param.rs
Labels: C-Enhancement, A-Dynamics

#794 Fix 3D friction tangents and refactor constraint preparation
  src/dynamics/solver/contact/mod.rs
  src/dynamics/solver/mod.rs
  src/dynamics/solver/solver_body/mod.rs
  src/dynamics/solver/xpbd/mod.rs
Labels: C-Bug, A-Dynamics, C-Code-Quality

#795 Fix `Plane3d` colliders ignoring half size
  src/collision/collider/parry/primitives3d.rs
Labels: C-Bug, C-Enhancement, A-Collision, C-Breaking-Change

#796 Add `tumbler` example
  crates/avian2d/Cargo.toml
  crates/avian2d/examples/tumbler.rs
Labels: C-Examples, A-Dynamics
