Repository Jondolf/avian, pull requests merged in 2025-10, with the labels that each got.

#830 Implement collider constructor ready events
  src/collision/collider/backend.rs
  src/collision/collider/constructor.rs
  src/collision/collider/mod.rs
  src/collision/mod.rs
Labels: C-Enhancement, A-Collision

#838 Update to Bevy 0.17 from RC
  Cargo.lock
  benches/Cargo.toml
  crates/avian2d/Cargo.toml
  crates/avian3d/Cargo.toml
  crates/examples_common_2d/Cargo.toml
  crates/examples_common_3d/Cargo.toml
Labels: C-Dependencies

#842 Fix damping for joints with a static body
  src/dynamics/solver/plugin.rs
Labels: C-Bug, C-Regression, A-Joints

#846 Add `apply_linear_acceleration_at_point`
  src/dynamics/rigid_body/forces/query_data.rs
Labels: C-Enhancement, A-Dynamics

#849 Disable mass property warning for collider constructors
  Cargo.lock
  src/dynamics/rigid_body/mass_properties/mod.rs
Labels: C-Enhancement, A-Dynamics
