Repository Jondolf/avian, pull requests merged in 2025-03, with the labels that each got.

#660 Per-manifold material properties and tangent velocity
  crates/avian2d/examples/custom_collider.rs
  crates/avian3d/Cargo.toml
  crates/avian3d/examples/conveyor_belt.rs
  src/collision/contact_query.rs
  src/collision/mod.rs
  src/collision/narrow_phase.rs
  src/dynamics/solver/contact/mod.rs
  src/dynamics/solver/contact/tangent_part.rs
  src/dynamics/solver/mod.rs
Labels: C-Enhancement, A-Collision, A-Dynamics

#668 Refactor to minimise `std` usage
  Cargo.toml
  crates/avian2d/Cargo.toml
  crates/avian2d/benches/pyramid.rs
  crates/avian2d/examples/custom_collider.rs
  crates/avian3d/Cargo.toml
  crates/avian3d/benches/cubes.rs
  crates/avian3d/examples/dynamic_character_3d/main.rs
  crates/avian3d/examples/kinematic_character_3d/main.rs
  crates/avian3d/examples/picking.rs
  crates/benches_common_2d/Cargo.toml
  crates/benches_common_3d/Cargo.toml
  crates/examples_common_2d/Cargo.toml
  crates/examples_common_3d/Cargo.toml
  src/collision/broad_phase.rs
  src/collision/collider/backend.rs
  src/collision/layers.rs
  src/collision/mod.rs
  src/collision/narrow_phase.rs
  src/diagnostics/total.rs
  src/dynamics/rigid_body/forces.rs
  src/dynamics/rigid_body/mass_properties/system_param.rs
  src/lib.rs
  src/math/double.rs
  src/math/single.rs
  src/picking/mod.rs
  src/position.rs
  src/schedule/mod.rs
  src/spatial_query/diagnostics.rs
  src/spatial_query/pipeline.rs
  src/spatial_query/ray_caster.rs
  src/spatial_query/shape_caster.rs
  src/sync/ancestor_marker.rs
  src/tests/determinism_2d.rs
  src/tests/mod.rs
Labels: C-Code-Quality

#669 Remove unsafe `ColliderAabb` initialization
  src/collision/collider/backend.rs
  src/collision/collider/mod.rs
Labels: C-Bug, A-Collision, P-Crash

#671 Change `ColliderParent` to a `ColliderOf` relationship and rework `ColliderHierarchyPlugin`
  crates/avian2d/examples/kinematic_character_2d/plugin.rs
  crates/avian3d/examples/kinematic_character_3d/plugin.rs
  src/collision/broad_phase.rs
  src/collision/collider/backend.rs
  src/collision/collider/collider_hierarchy/mod.rs
  src/collision/collider/collider_hierarchy/plugin.rs
  src/collision/collider/collider_transform/mod.rs
  src/collision/collider/collider_transform/plugin.rs
  src/collision/collider/mod.rs
  src/collision/collider/parry/mod.rs
  src/collision/collider/world_query.rs
  src/collision/narrow_phase.rs
  src/debug_render/mod.rs
  src/dynamics/ccd/mod.rs
  src/dynamics/rigid_body/mass_properties/mod.rs
  src/dynamics/sleeping/mod.rs
  src/lib.rs
  src/tests/determinism_2d.rs
  src/type_registration.rs
Labels: C-Enhancement, A-Collision, C-Breaking-Change

#677 Fix panic caused by despawning entity with `ColliderOf`
  src/collision/collider/backend.rs
  src/collision/collider/collider_hierarchy/mod.rs
  src/collision/collider/collider_hierarchy/plugin.rs
Labels: C-Bug, A-Collision, P-Crash

#680 Update to Bevy 0.16.0-rc.2
  crates/avian2d/Cargo.toml
  crates/avian2d/examples/one_way_platform_2d.rs
  crates/avian3d/Cargo.toml
  crates/avian3d/examples/conveyor_belt.rs
  crates/benches_common_2d/Cargo.toml
  crates/benches_common_3d/Cargo.toml
  crates/examples_common_2d/Cargo.toml
  crates/examples_common_3d/Cargo.toml
  src/diagnostics/ui.rs
  src/picking/mod.rs
Labels: C-Dependencies

#681 Make CI faster by caching Rust build outputs
  .github/workflows/ci.yml
Labels: A-CI

#682 Fix `ColliderOf` updates when a rigid body is added in the hierarchy
  src/collision/collider/collider_hierarchy/plugin.rs
Labels: C-Bug, A-Collision

#683 Rework Contact Pair Management
  crates/avian2d/Cargo.toml
  crates/avian2d/examples/custom_collider.rs
  crates/avian2d/examples/determinism_2d.rs
  crates/avian2d/examples/kinematic_character_2d/plugin.rs
  crates/avian2d/examples/pyramid_2d.rs
  crates/avian2d/examples/sensor.rs
  crates/avian3d/Cargo.toml
  crates/avian3d/examples/conveyor_belt.rs
  crates/avian3d/examples/custom_broad_phase.rs
  crates/avian3d/examples/kinematic_character_3d/plugin.rs
  src/collision/broad_phase.rs
  src/collision/collider/mod.rs
  src/collision/collider/parry/mod.rs
  src/collision/collider/world_query.rs
  src/collision/collision_events.rs
  src/collision/contact_query.rs
  src/collision/contact_reporting.rs
  src/collision/contact_types/contact_graph.rs
  src/collision/contact_types/mod.rs
  src/collision/contact_types/system_param.rs
  src/collision/diagnostics.rs
  src/collision/hooks.rs
  src/collision/mod.rs
  src/collision/narrow_phase.rs
  src/collision/narrow_phase/mod.rs
  src/collision/narrow_phase/system_param.rs
  src/data_structures/bit_vec.rs
  src/data_structures/entity_data_index.rs
  src/data_structures/graph.rs
  src/data_structures/mod.rs
  src/data_structures/pair_key.rs
  src/debug_render/mod.rs
  src/diagnostics/ui.rs
  src/dynamics/ccd/mod.rs
  src/dynamics/integrator/mod.rs
  src/dynamics/sleeping/mod.rs
  src/dynamics/solver/contact/mod.rs
  src/dynamics/solver/mod.rs
  src/dynamics/solver/schedule.rs
  src/lib.rs
  src/schedule/mod.rs
  src/spatial_query/pipeline.rs
  src/tests/determinism_2d.rs
  src/type_registration.rs
  src/utils.rs
Labels: C-Enhancement, C-Performance, A-Collision, C-Breaking-Change, D-Complex

#685 Rename `Contacts` to `ContactPair`
  crates/avian2d/examples/one_way_platform_2d.rs
  crates/avian3d/examples/conveyor_belt.rs
  crates/avian3d/examples/custom_broad_phase.rs
  src/collision/broad_phase.rs
  src/collision/contact_types/contact_graph.rs
  src/collision/contact_types/mod.rs
  src/collision/contact_types/system_param.rs
  src/collision/hooks.rs
  src/collision/narrow_phase/system_param.rs
  src/debug_render/mod.rs
  src/diagnostics/ui.rs
  src/dynamics/solver/contact/mod.rs
  src/lib.rs
Labels: A-Collision, C-Breaking-Change, C-Code-Quality
