Repository Jondolf/avian, pull requests merged in 2025-06, with the labels that each got.

#752 Fix `body` property of collision events and reflect `CollisionEventsEnabled` properly
  src/collision/collision_events.rs
  src/collision/narrow_phase/mod.rs
Labels: C-Bug, A-Collision

#753 Benchmarking CLI
  Cargo.lock
  Cargo.toml
  benches/.gitignore
  benches/Cargo.toml
  benches/README.md
  benches/src/cli.rs
  benches/src/dim2/large_pyramid.rs
  benches/src/dim2/many_pyramids.rs
  benches/src/dim2/mod.rs
  benches/src/dim3/large_pyramid.rs
  benches/src/dim3/many_pyramids.rs
  benches/src/dim3/mod.rs
  benches/src/main.rs
  crates/avian2d/Cargo.toml
  crates/avian2d/benches/pyramid.rs
  crates/avian2d/examples/many_pyramids_2d.rs
  crates/avian2d/examples/sensor.rs
  crates/avian3d/Cargo.toml
  crates/avian3d/benches/cubes.rs
  crates/benches_common_2d/Cargo.toml
  crates/benches_common_2d/src/lib.rs
  crates/benches_common_3d/Cargo.toml
  crates/benches_common_3d/src/lib.rs
Labels: C-Performance

#759 Fix new `mismatched_lifetime_syntaxes` lints
  src/collision/collider/parry/primitives2d.rs
  src/data_structures/bit_vec.rs
  src/data_structures/graph.rs
  src/diagnostics/ui.rs
  src/spatial_query/ray_caster.rs
  src/spatial_query/shape_caster.rs
Labels: C-Code-Quality

#758 ColliderConstructor::Compound
  src/collision/collider/constructor.rs
  src/collision/collider/parry/mod.rs
Labels: C-Enhancement, A-Collision

#760 Rework `Position` and `Rotation` initialization
  Cargo.lock
  src/collision/collider/backend.rs
  src/collision/collider/mod.rs
  src/dynamics/rigid_body/mod.rs
  src/lib.rs
  src/position.rs
  src/prepare.rs
  src/tests/determinism_2d.rs
Labels: C-Enhancement, A-Transform

#764 Fix `PreviousGlobalTransform` initialization
  src/sync/mod.rs
  src/tests/determinism_2d.rs
Labels: C-Bug, A-Transform

#765 Account for COM in constrants center difference
  crates/avian3d/examples/custom_constraint.rs
  src/dynamics/solver/joints/distance.rs
  src/dynamics/solver/joints/point_constraint.rs
  src/dynamics/solver/joints/prismatic.rs
  src/dynamics/solver/joints/spherical.rs
Labels: C-Bug, A-Joints

#766 Fix `DistanceLimit::compute_correction()` signs
  src/dynamics/solver/joints/mod.rs
Labels: C-Bug, A-Joints
